version: "3.9"

services:
  api:
    build: .
    container_name: api_gastos
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app  # solo para desarrollo (hot reload)
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
    networks:
      - gastos-net

networks:
  gastos-net:
    external: true